<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <CrawlSeedFile>
		/home/neeraj/Documents/crawlerdata.tmp/CrawlTheseURLs.txt
	</CrawlSeedFile> -->
	<CrawlSeedFile>
		/Users/yichen/Documents/crawlerdata.tmp/CrawlTheseURLs.txt
	</CrawlSeedFile>
	<DefaultWeightOfSeed>
		100
	</DefaultWeightOfSeed>
	<NumberOfTriesOnURLBeforeGiveUp>
		5
	</NumberOfTriesOnURLBeforeGiveUp>
	<NumberOfTriesBeforeGivingUpOnQueue>
		10
	</NumberOfTriesBeforeGivingUpOnQueue>	
	<MaxDepth>
		100
	</MaxDepth>
	<MaxBreadth>
		200
	</MaxBreadth>
	<MaxURLsApproximately>
		200
	</MaxURLsApproximately>
	<NumberOfThreads>
		5
	</NumberOfThreads>
	<PolitenessInMS>
		100
	</PolitenessInMS>
	<!-- <DownloadDirectory>
		/home/neeraj/Documents/DownloadExperiment.tmp/
	</DownloadDirectory> -->
	<DownloadDirectory>
		/Users/yichen/Documents/DownloadExperiment.tmp/
	</DownloadDirectory>	
	<NumberOfDownloadSubDirs>
		10
	</NumberOfDownloadSubDirs>	
	<OutputFormat>
		BOTHHTMLANDTEXT
	</OutputFormat><!-- Options: HTMLONLY, TEXTONLY, BOTHHTMLANDTEXT -->
	<PathToOutputDictionary>
		/Users/yichen/Documents/DownloadExperiment.tmp/
	</PathToOutputDictionary>
	<StemForDictionary>
		DownloadedFiles
	</StemForDictionary>
	<PreferredURLRegexes>
		cnn
		asd[0-9]
		dfg*
	</PreferredURLRegexes>
	<AvoidURLRegexes>
		
	</AvoidURLRegexes>
	<PreferedURLText>
		Tesla	0.5
		Olympics	0.7
		reform	0.9
		people	0.4
	</PreferedURLText>	
</configuration>