<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <CrawlSeedFile>
		/home/neeraj/Documents/crawlerdata.tmp/CrawlTheseURLs.txt
	</CrawlSeedFile> -->
	<CrawlSeedFile>
		CrawlTheseURLs.txt
	</CrawlSeedFile>
	<!-- <DefaultWeightOfSeed>
		100
	</DefaultWeightOfSeed> -->
	<NumberOfTriesOnURLBeforeGiveUp>
		10
	</NumberOfTriesOnURLBeforeGiveUp>
	<NumberOfTriesBeforeGivingUpOnQueue>
		10
	</NumberOfTriesBeforeGivingUpOnQueue>	
	<MaxDepth>
		40
	</MaxDepth>
	<MaxBreadth>
		30
	</MaxBreadth>
	<MaxURLsApproximately>
		350
	</MaxURLsApproximately>
	<NumberOfThreads>
		5
	</NumberOfThreads>
	<PolitenessInMS>
		100
	</PolitenessInMS>
	<!-- <DownloadDirectory>
		/home/neeraj/Documents/DownloadExperiment.tmp/
	</DownloadDirectory> -->
	<DownloadDirectory>
		/Users/yichen/Documents/DownloadExperiment.tmp/
	</DownloadDirectory>	
	<NumberOfDownloadSubDirs>
		10
	</NumberOfDownloadSubDirs>	
	<OutputFormat>
		BOTHHTMLANDTEXT
	</OutputFormat>
	<PathToOutputDictionary>
		/Users/yichen/Documents/DownloadExperiment.tmp/
	</PathToOutputDictionary>
	<StemForDictionary>
		DownloadedFiles
	</StemForDictionary>
	<PreferredURLRegexes>
		c
	</PreferredURLRegexes>
	<AvoidURLRegexes>
			
	</AvoidURLRegexes>
	<PreferedURLText>
		Address	0.4
	</PreferedURLText>	
</configuration>